
<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-sdm-index") %>>
          <a href="/docs/providers/sdm/index.html">SDM Provider</a>
        </li>

        <li<%= sidebar_current("docs-sdm-guide") %>>
          <a href="#">Guides</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-sdm-guide-adding-resources") %>>
              <a href="/docs/providers/sdm/resources/adding_resources.html">Adding resources</a>
              <a href="/docs/providers/sdm/resources/how_to_create_a_gateway.html">How to create a gateway</a>
              <a href="/docs/providers/sdm/resources/roles.html">Roles</a>
              <a href="/docs/providers/sdm/resources/user_management.html">User Management</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-sdm-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-sdm-resource-account-attachments") %>>
              <a href="/docs/providers/sdm/resources/account_attachments.html">account_attachments</a>
            </li>
            <li<%= sidebar_current("docs-sdm-resource-account-grants") %>>
              <a href="/docs/providers/sdm/resources/account_grants.html">account_grants</a>
            </li>
            <li<%= sidebar_current("docs-sdm-resource-accounts") %>>
              <a href="/docs/providers/sdm/resources/accounts.html">accounts</a>
            </li>
            <li<%= sidebar_current("docs-sdm-resource-nodes") %>>
              <a href="/docs/providers/sdm/resources/nodes.html">nodes</a>
            </li>
            <li<%= sidebar_current("docs-sdm-resource-resources") %>>
              <a href="/docs/providers/sdm/resources/resources.html">resources</a>
            </li>
            <li<%= sidebar_current("docs-sdm-resource-role-attachments") %>>
              <a href="/docs/providers/sdm/resources/role_attachments.html">role_attachments</a>
            </li>
            <li<%= sidebar_current("docs-sdm-resource-role-grants") %>>
              <a href="/docs/providers/sdm/resources/role_grants.html">role_grants</a>
            </li>
            <li<%= sidebar_current("docs-sdm-resource-roles") %>>
              <a href="/docs/providers/sdm/resources/roles.html">roles</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-sdm-datasource") %>>
          <a href="#">Datasources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-sdm-datasource-account-attachments") %>>
              <a href="/docs/providers/sdm/data-sources/account_attachments.html">account_attachments</a>
            </li>
            <li<%= sidebar_current("docs-sdm-datasource-account-grants") %>>
              <a href="/docs/providers/sdm/data-sources/account_grants.html">account_grants</a>
            </li>
            <li<%= sidebar_current("docs-sdm-datasource-accounts") %>>
              <a href="/docs/providers/sdm/data-sources/accounts.html">accounts</a>
            </li>
            <li<%= sidebar_current("docs-sdm-datasource-nodes") %>>
              <a href="/docs/providers/sdm/data-sources/nodes.html">nodes</a>
            </li>
            <li<%= sidebar_current("docs-sdm-datasource-resources") %>>
              <a href="/docs/providers/sdm/data-sources/resources.html">resources</a>
            </li>
            <li<%= sidebar_current("docs-sdm-datasource-role-attachments") %>>
              <a href="/docs/providers/sdm/data-sources/role_attachments.html">role_attachments</a>
            </li>
            <li<%= sidebar_current("docs-sdm-datasource-role-grants") %>>
              <a href="/docs/providers/sdm/data-sources/role_grants.html">role_grants</a>
            </li>
            <li<%= sidebar_current("docs-sdm-datasource-roles") %>>
              <a href="/docs/providers/sdm/data-sources/roles.html">roles</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
